@import "../../styles/mixins";
@import "../../styles/vars";

.app {
  background: #302C42;
  overflow: hidden;

}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 25px 20px 89px;
  
  @media (min-width: 768px) {
    padding: 50px 84px 59px;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;

  @include media($desktop) {
    gap: 90px;
  }
}