@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.nav {
  display: none;
  margin: auto 0 ;
  flex: 1;

  @include media($desktop) {
    display: block;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  max-width: 387px;

  @include media($desktop) {
    flex-direction: row;
    display: flex;
  }

  &-item {
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;

    @include media($desktop) {
      font-size: 12px;
    }
  }
}